*{
    margin: 0px auto;
}

#container{
   
    height: 100vh;
    /*display:flex;
    flex-direction: column;*/
}

header{
    
    background: lightskyblue;

    height: 11vh;
    width: 100%;
   /* text-align: center;*/

    display:flex;
    align-items: center;
    
    /*padding-top: 3vh;
    padding-bottom: 3vh;*/
    background-image: url(controlador-de-la-tableta.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 11vh;
}


footer{
    clear:both;
    background: gray;
    color:white;
    width: 100%;
    height: 2vh;
}

#entrada{

    text-align: center;
    border-left: 0.2rem solid gray;
    border-right: 0.1rem solid gray;
    border-top: 0.4vh solid gray;
    border-bottom: 0.2vh solid gray;
    border-radius: 1rem;

    float: left;
    height: 41.70vh;
    
    
    width: calc(20% - 0.3rem);

    padding-top: 2vh;
    
}

#bombilla{
    height: 80%;
    display:flex;
    align-items: center;
}



/*#imagenBombilla{
    position:static;

    
    
}*/


#TextoBombilla{    
    
    width: 35%; /* Esto es para que no se mueva la imagen de la bombilla cuando cambia el texto (cuando se enciende)*/
}


#salon{

    text-align: center;
    border-left: 0.1rem solid gray;
    border-right: 0.2rem solid gray;
    border-top: 0.4vh solid gray;
    border-bottom: 0.4vh solid gray;
    border-radius: 1rem;

    float: right;
    height: 84.20vh;

    width: calc(80% - 0.3rem);

    padding-top: 2vh;

}

#datos{

    width: 25%;
    height: 83vh;
   /* background: rgb(185, 144, 238);*/
    float:left;

}

#cajaTemperatura{

    display:flex;
    align-items: center;
    height: 20.75vh;
    
}

#termometro{
    width: 10rem; 
    height: 10rem; 
    /*float:left;
    margin-top: 1rem;
    */
    
}
/*
#textoTemperatura{
    float: left;
    margin-top: 5rem;
    margin-left: 1.5rem;
}*/

#cajaHumedad{

    display:flex;
    align-items: center;
    height: 20.75vh;
}

#humedad{
    
    width: 10rem; 
    height: 10rem; 
  /*  float:left;
    margin-top: 1rem;*/
    
}

/*#textoHumedad{
    float: left;
    margin-top: 5rem;
    margin-left: 1.5rem;
    
}*/


#cajaCo2{

    display:flex;
    align-items: center;
    height: 20.75vh;

}

#co2{
    
    width: 10rem; 
    height: 10rem; 
    
    
}
/*
#textoCo2{
    float: left;
    margin-top: 5rem;
    margin-left: 1rem;
    
    
}*/


#cajaPersiana{

   /* background: red;*/
    height: 17.75vh;
    display:flex;
    align-items: center;
    
}

/*#textoPersiana{

    margin-top: 5rem;
    margin-left: 1rem;
    float:left;
}

#boton1 {

    margin-top: 4rem;
}*/


#grafica{

    float:right;
    height: 83vh;
    width: 75%;

}
#myChart{
    float:left;
    padding-top: 4rem;
}


#jardin{

    text-align: center;
    border-left: 0.2rem solid gray;
    border-right: 0.1rem solid gray;
    border-top: 0.2vh solid gray;
    border-bottom: 0.4vh solid gray;
    border-radius: 1rem;

    float: left;
    height: 40.15vh;

    width: calc(20% - 0.3rem);
    

    padding-top: 2vh;
}



/* CODIGO BOTON PERSIANA */

:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}