{% load static %}
<!DOCTYPE html>
<html>
    <!--<meta http-equiv="refresh" content="2" />-->
    <head>
        <meta charset="utf-8" />
        <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js></script>
        <title>Sistema dómotico</title>
        <link rel="stylesheet" href="{% static 'inicio.css' %}" />

        </head>
        <body>
       

        <div id="container">
            
            <header>
                <h1>Sistema domótico</h1>
                <!--<img id="casa" src="images/controlador-de-la-tableta.png">-->
                <!--<img src="images/controlador-de-la-tableta.png"
                    alt="Imagen casa domótica"
                    widht="100"
                    height="100"> -->
                
                    <!--<img id="casa" src="images/controlador-de-la-tableta.png">-->
                
                </header>

            
                <section id="entrada">       
                    <h1>Entrada</h1>  
                    <img id="imagenBombilla"></img>
                    
                   <!-- {% if bombilla == "1" %}

                    
                        <img id="bombilla" src="{% static 'bombillaencendida.png' %}">
                        <p>Presencia detectada, luz encendida</p>

                    {% elif bombilla == "0" %}   
                        
                        <img id="bombilla" src="{% static 'bombillaapagada.png' %}">
                        <h5>Luz apagada</h5>
                        
                    {% else %}-->
                    <!-- Este caso es por si la variable bombilla esta vacia porque aun no ha mandado nada el ESP32-->
                     <!--   <img id="bombilla" src="{% static 'bombillaapagada.png' %}">
                        <h5>Luz apagada</h5>

                    {% endif %} -->
                    
                </section>
            
            <section id="salon">
                <!--<img id="bombillaencendida" src="images/bombilla encendida.png">-->
                <h1>Salón</h1>
                <section id="grafica"> 
                    <canvas id="myChart"></canvas>
                </section>
    
            </section>
            <section id="terraza">
        
                <h1>Terraza</h1>
            </section>
            
            <footer>
                Roberto Jiménez &copy; 2021
            </footer>
        </div>

        <script src="{% static 'main.js' %}"></script>
       
    </body>
</html>
